.popup__button {
    background-color: #000000;
    border-radius: 2px;
    border: 1px solid #000000;
    color: #ffffff;
    width: 85%;
    min-height: 50px;
    margin: 48px 0 37px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}